---
# Use a comment to ensure Jekyll reads the file to be transformed into CSS later
# only main files contain this front matter, not partials.
---

$sidebar-bg-color: #144183;
$link-color: rgba(167,50,50,1);
$sidebar-sticky: true;

@import "hydeout";

figcaption
    {font-size: 0.8rem;
    color: #515151;
    padding-bottom: 1.6rem;}

.limg {width: 30%;
    float:left;
    margin-right: 2rem;
    margin-top: 8px;}

.limg-50 {width: 50%;
    float:left;
    margin-right: 2rem;
    margin-top: 8px;}

.rimg {width: 30%;
    float:right;
    margin-left: 2rem;
    margin-top: 8px;}

.rimg-50 {width: 50%;
float:right;
margin-left: 2rem;
    margin-top: 8px;}
