<!DOCTYPE html>
<style>
#main {
    background:radial-gradient(rgba(255, 0, 0, 0.8), rgba(143, 143, 148, 0.5)),
    linear-gradient(rgba(0, 0, 0, 0.9),rgba(49, 54, 147, 0.5));
</style>

<html lang="en-us">

  {% include head.html %}

  <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}" id="main">

    {% include sidebar.html %}

    <main class="container">
      {{ content }}
    </main>

    {% include custom-foot.html %}
  </body>
</html>
